@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0.5);
    }

}

@keyframes fadeInCenter {
    from {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes fadeOutCenter {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }
}

@keyframes dropDown {
    from {
        max-height: 0;
        opacity: 0;
    }
    to {
        opacity: 1;
        max-height: 200px;
    }
}

@keyframes pullUp {
    from {
        opacity: 1;
        max-height: 200px;
    }
    to {
        max-height: 0;
        opacity: 0;
    }
}