#cards-container {
    position: relative;
    gap: 0.5rem;
}

.card {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #474747;

    width: 18rem;
    height: 25rem;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 1rem;
    padding: 0.5rem;

    position: absolute;
    left: calc(50% - 10rem);
    transition: 0.5s;

    box-shadow: 0 0 30px 10px #000000;
}

.card:hover {
    background-color: #272727;
    cursor: pointer;
}

.card p {
    text-align: center; 
}

#prev, #next {
    position: absolute;
    top: 45%;
    font-size: x-large;
    z-index: 2;
}

#prev {
    left: 5%;
}

#next {
    right: 5%;
}

#prev:hover, #next:hover {
    cursor: pointer;
}