#cards-container {
    position: relative;
    gap: 0.5rem;
}

.card {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 18rem;
    height: 25rem;
    color: var(--light-gray1);

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-radius: 1rem;

    position: absolute;
    left: calc(50% - 10rem);

    box-shadow: 0 0 30px 10px var(--black);
    transition: 0.3s ease;
}

.card-image {
    width: 100%;
    height: 100%;
}

.card:hover {
    box-shadow: 0 0 35px 15px var(--black);
    cursor: pointer;
}

.card p {
    text-align: center; 
}

#prev, #next {
    position: absolute;
    top: 45%;
    font-size: x-large;
    z-index: 2;
}

#prev {
    left: 5%;
}

#next {
    right: 5%;
}

#prev:hover, #next:hover {
    cursor: pointer;
}