#character-preview {
    /* background-color: yellow; */
    width: 100%;
    height: 100%;
    position: absolute;
    transition: 0.5s ease;
}   

#character-display {
    background-color: rgb(85, 85, 85);
    width: 50rem;
    height: 35rem;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1rem;
    border-radius: 1rem;
    z-index: 3;

    box-shadow: 0 0 50px 10px #000000;

    animation: fadeInCenter 0.5s ease;
}

#character-display .header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#character-display i {
    font-size: 1.5rem;
    color: white;
}

#character-display i:hover {
    cursor: pointer;
}

#character-display h2 {
    margin: 0;
    margin: 1rem;
    margin-top: 0;
    color: white;
}

#character-display .content {
    /* background-color: red; */
    width: 100%;
    height: 85%;
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 1rem;
    margin: 0 2rem;
}

#character-display .content .image {
    background-color: white;
    border-radius: 1rem;
}

#character-display .content .description {
    /* background-color: yellow; */
    color: white;
    padding: 1rem;
    letter-spacing: 1.5px;
    line-height: 1.2;
}

#card-image {
    background-color: red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 20rem;
    height: 30rem;
    border-radius: 1rem;
    overflow: hidden;
}