#main-story-container, 
#characters-container, 
#about-us-container {
    width: 85%;
    animation: fadeIn 0.5s ease;
}

#characters-container {
    /* background-color: rgba(255, 0, 0, 0.253); */
    height: 90%;
    position: relative;
    padding: 0 0.5rem;
}

#about-us-container h1 {
    font-size: 1.7em;
}

#about-us-container p {
    font-size: 14px;
    letter-spacing: 2;
    line-height: 1.4;

    padding: 0 1rem;
}
