#main-story-container {
    width: calc(85% - 1rem);
    height: 100%;
    padding-right: 1rem;
    overflow-y: scroll;

    position: relative;
}

#main-story-container h1 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

#main-story-container p {
    font-size: 14px;
    letter-spacing: 2;
    line-height: 1.4;

    padding: 0.5rem 0.7rem;
    margin: 0;
    border-radius: 1rem;

    transition: 0.5s ease;
}

#main-story-container p:hover {
    background-color: var(--black1);
    cursor: pointer;
}

#main-story-container::-webkit-scrollbar {
    width: 8px;
}   

#main-story-container::-webkit-scrollbar-track {
    background: var(--dark-gray2);
    border-radius: 4px;
}

#main-story-container::-webkit-scrollbar-thumb {
    background: var(--gray1);
    border-radius: 4px;
}

#main-story-container::-webkit-scrollbar-thumb:hover {
    background: var(--light-gray2);
}

#audio-options {
    background-color: var(--dark-gray2);

    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    padding: 0.7rem 1rem;

    border-radius: 1rem;

    position: sticky;
    top: 0.5rem;
    left: 100%;

    box-shadow: 0 0 10px 1px var(--black);
}

/* #audio-options .option {

} */

#audio-options .option:hover {
    cursor: pointer;
}