:root {
    --light-gray1: #dfdfdf;
    --light-gray2: #d9d9d9;

    --gray1: #9c9c9c;
    --gray2: #727272;

    --dark-gray1: #3b3b3b;
    --dark-gray2: #2c2c2c;
    --dark-gray3: #2f2821;
    --dark-gray4: #494949;

    --black: #000000;
    --black1: #1e1e1e;

    --grayish-yellow1: #b6a458;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    margin: 0;
}

* {
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    width: 8px;
}   

*::-webkit-scrollbar-track {
    background: var(--dark-gray2);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb {
    background: var(--gray1);
    border-radius: 4px;
}

*::-webkit-scrollbar-thumb:hover {
    background: var(--light-gray2);
}